%h1 Musings

- @posts.each do |post|
  %h2= post.title
  = link_to "Continue", post_path(post)
  = link_to "Edit", edit_post_path(post)
  = link_to "Delete", post_path(post), method: :delete, data: {confirm: 'Are you sure?'}